<div class="">
  <h1>NOTTE</h1>

  <div *ngIf="!playersKilled" class="">
    <p>Si sveglia: <b>{{currRole.toUpperCase()}}</b> </p>
    <!-- Se ci sono giocatori con quel ruolo -->
    <div *ngIf="currPlayers.length > 0">
        <p *ngFor="let player of currPlayers" class="mb-2">
          ➤ {{player.name}}
        </p>
      <form (ngSubmit)="submitTarget()" #targetForm="ngForm" [hidden]="showInfo">

        <div class="mb-3 d-flex flex-column gap-3">
          <label for="currTarget" class="form-label">Chi è il bersaglio?</label>
          <select id="currTarget" required class="form-control min-vw-50" [(ngModel)]="currTargetName" name="currTarget" >
            <option *ngFor="let player of playersAlive" value="{{player.name}}">{{player.name}}</option>
          </select>
          <button type="submit" class="btn btn-primary">Conferma</button>
        </div>

      </form>

      <!-- mostro a schermo il risultato scelto dal veggente -->
      <div [hidden] = "!showInfo">
        <p *ngIf="currRole == 'veggente'">
          {{ currTargetPlayer.name }} è {{ currTargetPlayer.clan }}
        </p>
        <button class="btn btn-primary w-100" (click) = "continue()">Continua</button>
      </div>

    </div>

    <!-- se i giocatori con quel ruolo sono morti -->
    <div *ngIf="currPlayers.length == 0">
      <p>Non c'è più nessunə "{{currRole}}" vivə, ma fingi che ci sia e che scelga qualcuno.</p>
      <button class="btn btn-primary w-100" (click) = "nextPlayerAwake()">Prossimo giocatore</button>
    </div>
  </div>

  <!-- chi è morto alla fine della notte -->
  <div *ngIf="playersKilled">
    <p>Nella notte sono morti: </p>
    <div *ngIf="playersKilled.length > 0">
      <p *ngFor="let player of playersKilled">➤ {{player.name}}</p>
    </div>
    <div *ngIf="playersKilled.length == 0">
      <p>Nessuno!</p>
    </div>
    <button class="btn btn-success w-100" (click)="goToDay()">Vai alla mattina</button>
  </div>

  <div class="my-3">
    <p class="small">In caso di errore: aggiornare la pagina per ricominciare la notte corrente</p>
  </div>

  <app-player-table
    [players]="players">
  </app-player-table>
</div>
