<!-- 1: inserire numero giocatori -->
<div *ngIf="step == 1">
  <form (ngSubmit)="submitPlayersNum()" #playersNumForm="ngForm">
    
    <div class="mb-3" class="form-label">
      <label for="playersNum">Quanti giocatori?</label>
      <!-- TODO: cambiare 2 in 8 quando funziona!! -->
      <input id="playersNum" type="number" min="2" max="20" required class="form-control" 
        [(ngModel)]="playersNum" name="playersNum" #playersNumInput="ngModel">
      <div [hidden]="!playersNumInput || playersNumInput.valid"
        class="text-danger">
        Il numero di giocatori deve essere un numero compreso tra 8 e 20
      </div>
    </div>
    <button type="submit" [disabled]="!playersNumForm.form.valid" class="btn btn-primary">Conferma</button>

  </form>
</div>

<!-- 2: i giocatori si inseriscono, uno alla volta, e ricevono il loro ruolo -->
<div *ngIf="step == 2">
  <p>Giocatore {{players.length + 1}} </p>
  <form (ngSubmit)="submitNewPlayer()" #newPlayerForm="ngForm" [hidden] = "newPlayerSubmitted">
    
    <div class="mb-3" class="form-label">
      <label for="playerName">Nome</label>
      <input id="playerName" type="text" class="form-control" required
        [(ngModel)]="newPlayer.name" name="playerName">
    </div>
    <button type="submit" class="btn btn-primary"
      [disabled]="!newPlayerForm.form.valid">
      Conferma
    </button>

  </form>

  <div [hidden] = "!newPlayerSubmitted">
    {{newPlayer.name}}, il tuo ruolo è: {{newPlayer.role}}
    <button class="btn btn-primary" (click) = resetNewPlayer() [hidden] = "players.length == playersNum">Prossimo giocatore</button>
    <button class="btn btn-primary" (click) = resetNewPlayer() [hidden] = "players.length < playersNum">Inizia partita!</button>
  </div>
</div>
