<div class="my-3">

  <button class="btn btn-info mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#playerTable"
    aria-expanded="false" aria-controls="playerTable" (click)="toggleCollapse()" #collapseState>
    {{collapseState.ariaExpanded=='true' ? 'Nascondi' : 'Mostra'}} giocatori
  </button>

  <div class="collapse" id="playerTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Ruolo</th>
          <!-- <th scope="col">Clan</th> -->
          <th scope="col">Stato</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let player of players">
          <th scope="row" [ngClass]="{'text-danger' : !player.isAlive}">{{player.name}}</th>
          <td [ngClass]="{'text-danger' : !player.isAlive}">{{player.role}}</td>
          <!-- <td>{{player.clan}}</td> -->
          <td [ngClass]="{'text-danger' : !player.isAlive}">{{player.isAlive ? "Vivo" : "Morto"}}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <a class="btn btn-secondary" type="button" routerLink="/rules">
        Regole
      </a>
      <p class="small">NB. passare alla regole resetterà la fase corrente</p>
    </div>

  </div>
</div>