<div class="my-5">
  <div class="p-5 text-center">

    <h1 class="text-body-emphasis">Lupus in fabula</h1>
    <p class="col-lg-8 mx-auto fs-5">
      Sito per giocare a lupus in fabula
    </p>

    <div class="d-inline-flex gap-2 mb-5">
      <a class="btn btn-primary btn-lg px-4 rounded-pill" type="button" routerLink="/new-game">
        Nuova partita
      </a>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Continua
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Regole
      </button>
    </div>

  </div>
</div>