<div class="">

  <h1 class="text-body-emphasis">Lupus in fabula</h1>
  <p class="col-lg-8 mx-auto fs-5">
    Sito per giocare a lupus in fabula
  </p>

  <div class="d-flex flex-column flex-sm-row gap-2 mb-5">
    <a class="btn btn-primary btn-lg px-4 rounded-pill" type="button" routerLink="/new-game">
      Nuova partita
    </a>
    <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button"
      [disabled]="!canContinue" [routerLink]="timeEndpoint">
      Continua
    </button>
    <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" routerLink="/rules">
      Regole
    </a>
  </div>

</div>
